@font-face {
    font-family: 'BigShouldersDisplay';
    src: url('/public/fonts/BigShouldersDisplay-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Iceland';
    src: url('/public/fonts/Iceland-Regular.ttf');
}

.homeDiv{
    width: 100%;
    height: calc(100vh - 5.75rem);
    display: grid;
    grid-template-columns: 15% 70% 15%;
    
}
    

.profileDiv{
    display: flex;
    background-color: black;
    justify-content: center;
}
.infoDiv {
    margin-top: 1.25rem;
    gap: 1.375rem;
}

.infoDiv > :first-child {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}

.infoDiv, .info{
    display: flex;
    flex-direction: column;
}

.profileContent{
    width: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.profileImgDiv{
    width: 12rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255,255,255,0.13);
    align-items: center;
    justify-content: center;
    position: flex;
    
}
.whaleQuote {
    width: 38.9375rem;
    font-family: 'Iceland';
    color: white;
    font-size: 1.125rem;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

.profileImage{
    width: 85%;
    height: 85%;
    background-color: black
}  
.info {
    display: flex;
    gap: 0.3125rem;
}

.infoLabel {
    font-family: 'Iceland';
    font-size: 0.875rem;
    color: #FFFFFF;
    letter-spacing: 7.5%;
}

.infoDetail {
    font-family: 'BigShouldersDisplay';
    font-size: 1.125rem;
    color: #E84A4A;
    letter-spacing: 0.0625rem;
}

.openForDiv {
    width: 12.125rem;
    height: 1.4375rem;
    box-sizing: border-box;
    padding-left: 0.4375rem;
    background-image: url('../../svg/sub.svg');
    font-family: 'BigShouldersDisplay';
    display: flex;
    align-items: center;
    font-weight: bold;
}

.socialStatusDiv {
    width: 12.125rem;
    height: 2.0625rem;
    box-sizing: border-box;
    border: 0.0625rem solid #E84A4A;
    display: flex;
    padding: 0 0.25rem 0 0.4375rem;
    align-items: center;
    justify-content: space-between;
    font-family: 'BigShouldersDisplay';
    color: #E84A4A;
}

.mainDiv {
    box-sizing: border-box;
    height: calc(100% - 5.75rem);
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url('../../images/whale.png');
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
}


.questsDiv {
    width: 12.25rem;
    height: fit-content;
    background-color: black;
    border-left: 0.125rem solid #E84A4A;
    margin-left: 1rem;
}

.activeQuestHeader {
    width: 12.125rem;
    height: 1.4375rem;
    box-sizing: border-box;
    padding-left: 0.4375rem;
    background-image: url('../../svg/sub.svg');
    font-family: 'BigShouldersDisplay';
    display: flex;
    align-items: center;
    font-weight: bold;
}

.activeQuest {
    height: 1.875rem;
    width: 12.25rem;
    box-sizing: border-box;
    padding-left: 0.4375rem;
    font-family: 'Iceland';
    color: #7A7A7A;
    background-color: rgba(232, 74, 74, 0.1);
    display: flex;
    align-items: center;
}

.navigation {
    position: absolute;
    top: calc(100% - 1.375rem);
}

.goalDiv {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Iceland';
    margin-top: 1.4375rem;
    margin-left: 0.5rem;
}

.goal {
    color: #7A7A7A;
}

.marginInfo {
    margin-top: 0.9375rem;
    margin-left: 0.5rem;
}

.rewardImg {
    height: 2.5rem;
    width: 2.5rem;
}

.rewardsDiv {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-top: 1.4375rem;
    gap: 0.75rem;
}

.allRewards{
    display: flex;
    gap: 0.5rem;
}
.reward{
    color: #7A7A7A;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Iceland';

}

@media (max-width:431px) {
    .questsDiv{
        display: none;
    }
    .homeDiv{
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
    }
    .profileImgDiv{
        display: none;
    }
    .infoDiv{
        margin-top: 1.93rem;
        gap: 0.81rem;
        display: flex;
        justify-content: center;
    }
    .infoDiv>:first-child{
        flex-direction: row;
        gap: 4.3rem;
    }

    
    .mainDiv{
        box-sizing: border-box;
        height: 16rem;
        width: 22.51rem;
        
    }
    .openForDiv{
        width: 22.62rem;
        height: 2.06rem;
        box-sizing: border-box;
        padding-left:0.44rem;
        background-image: url('../../svg/sub-resp.svg');
    }
    .socialStatusDiv{
        width: 22.62rem;
    }
    
}